:root {
  --white: #fff;
  --black: #000000cc;
  --font-color-base: #666;
  --font-color-dark: #212529;
  --font-color-light: #b0aebe;
  --font-color-link: #57a6ff;
  --footer: #202020;
  --contrast: rgba(246, 248, 249, 0.8);
  --success: #64ecf5;
  --danger: #ff8b8d;
  --grad-1: #a1ecff;
  --grad-2: #7dbcff;

  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a { 
  text-decoration: none;
  color: #fff;
}

p { margin: 0; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: .5rem auto;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 2.75rem;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.txt-al {
  text-align: center;
}

.txt-white { color: #fff; }

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex { display: flex; }

.pos-rel { position: relative; }

.flex-col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn {
  display: inline-block;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  text-transform: uppercase;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 0;
}

.btn-outline {
  border-color: #fff;
  transition: all 0.25s;
}

.btn-outline-info {
  color: #202020;
  background-image: none;
  background-color: transparent;
  border-color: #202020;
  transition: all 0.25s;
}

.btn-outline:hover {
  color: #202020;
  background-color: #fff;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #202020;
}

.btn-lg {
  padding: .75rem 3rem;
  font-size: 1.25rem;
  border-radius: 0;
}

@media (min-width: 1200px) {
  .container { max-width: 1200px; }
}

/*
@media (min-width: 768px) {
  .pricing-table,
  .testimonial-grid,
  .footer-bottom-wrapper { max-width: 720px; }
}

@media (min-width: 992px) {
  footer .container { max-width: 960px; }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px; }
}
*/